@mixin singleProp() {
  background: white;
}

@mixin doubleProp() {
  background: white;
  color: red;
}

@mixin styles($map) {
  @each $property, $value in $map {
    @if(type-of($value) != map) {
      #{$property}: $value;
    }
 }
}

@mixin block() {
  @content;
}

@mixin blockWithArgs($args...) {
  args: $args;
  @content;
}

@mixin calls($style) {
  @content;
  @include styles($style);
}

@mixin doesNotCall() {
  no: call;
}
